@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background: #f8ffe8; /* Old browsers */
    color: #2D3E50;
}

