body {
    margin:10px;
    background-image: url("../img/background/pokeball.jpg");
}

/*  All buttons  */


.mainButton{
    width:180px;
    height:70px;
/*    margin:0 auto;*/
    margin-left:43%;
    background-color:#1a242f;
    color:#FFFFFF;
    padding-top:10px;
    text-align:center;
    cursor:pointer;
    font-size: 22px;
}
.mainButton:hover{
 background-color:#253c54;   
}

.attackButton{
    width:180px;
    height:70px;
    margin:0 auto;
    background-color:#1a242f;
    color:#FFFFFF;
    padding-top:10px;
    text-align:center;
    cursor:pointer;
    font-size: 22px;
    display:inline-block;
}
.attackButton:hover{
 background-color:#253c54;   
}
.inactiveButton{
    width:180px;
    height:70px;
    margin:0 auto;
    background-color: #737373;
    opacity:0.4;    
    color:#FFFFFF;
    padding-top:10px;
    text-align:center;
    cursor:default;
    font-size: 22px;
    display:inline-block;    
}

/*  Console  */

#console{
    height:380px;
    width:99%;
    margin:10px;    
    /*background-color: #74898a;*/
}
#consoleInfo{
    width:180px;
    border:1px solid #000000;
    padding:10px;
}
#consoleInfo, #consolePokemon{
    display:inline-block;    
}
#consolePokemon{
    float:right;
}

/*  Player  */

#player{
    height:310px;
    width:99%;
    margin:10px;
    /*background-color: #ebcccc;*/
}
#playerInfo{
    float:right;
    border:1px solid #000000;
    padding:10px;
}
#playerInfo, #playerPokemon, #playerControl, #playerAction{
    display:inline-block;    
}
