body {

}
#startButton{
    width:100px;
    height:40px;
    background-color:#1a242f;
    color:#FFFFFF;
    padding-top:10px;
    text-align:center;
    cursor:pointer;
    font-size: 22px;
}
#startButton:hover{
 background-color:#253c54;   
}

